
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'card';
@import "form";
@import "tables";
@import "buttons";
@import "utilities";

.material-icons {
  font-size: 1.2rem;
  line-height: $line-height-base;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: $box-shadow-sm;
}
